@import url('https://fonts.googleapis.com/css?family=Roboto');


/*border for clarity during development; comment out when done!*/
/*div {
      border: 2px;
      color: red;
      border-style: dashed;*/


h1, h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.jumbotron {
    position: relative;
    background-image: url('../img/bg1.jpg');
    width: 1200px;
    margin:auto;
    height: 743px;
    background-size: cover;
    overflow: hidden;
    color: white;
    margin-bottom: 0px;
}

.photo-left {
  text-align: right;
  margin-top: 60px;
}

 /*this container will affect ALL pages!*/
.container-fluid {
  background-color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  max-width: 1200px;
  margin-top: 60px;
  margin: auto;
}

.photo {
  margin-top: 60px;
  background-color: #fff;
}

.thumb {
  max-width: 100px;
}

.footer {

  background-color: #000;

  opacity:0.8;
  color: rgba(255,255,255,.8);
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;

}

/* Add a dark background color with a little bit see-through */
.navbar {
    /*margin-top: 80px;
    margin-bottom: 0px;*/
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.8;
    height: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}
