@import url('https://fonts.googleapis.com/css?family=Roboto');


/*border for clarity during development; comment out when done!*/
/*div {
      border: 2px;
      border-color: red;
      border-style: dashed;
    }*/


h1, h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.jumbotron {
    position: relative;
    background-image: url('../img/bg1.jpg');
    width: 1200px;
    margin:auto;
    height: 743px;
    background-size: cover;
    overflow: hidden;
    color: white;
    margin-bottom: 0px;
}

/*classes in the photo page*/
.photo-left {
  text-align: right;
  margin-top: 30px;
}

.photo{
  max-width: 880px;
  max-height: 570px;
  margin-top: 30px;
  overflow: hidden;

}

/*carousel styles*/
.carousel-inner{
  max-width: 862px;
  margin-bottom: 0px;
  margin-top: 10px;
}

/*.photo {
  margin-top: 40px;
  background-color: #fff;
}*/

/*classes in the webdev section*/
.webdev-left {
  text-align: right;
  margin-top: 40px;
}

.webdevcaptions {
  margin-left: 35px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.webdevphoto{
  max-width: 917px;
  margin-top: 20px;
}

 /*this container will affect ALL pages!*/
.container-fluid {
  background-color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}



.container {
  max-width: 1200px;

  margin-top: 10px;
  margin: auto;

}



.thumb {
  max-width: 100px;
}

.footer {
  background-color: #2d2d30;
  /*opacity:0.8;*/
  color: rgba(255,255,255,.8);
  width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px;
}


/*navbar classes below*/

.navbar-fixed-top{
  position: static;
  opacity: 0.8;
  background-color: #2d2d30;
  margin-top: 20px;

}
/* Add a dark background color with a little bit see-through */
.navbar {
    /*margin-top: 80px;
    margin-bottom: 0px;*/
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.8;
    height: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;

}

.item {
  max-height: 900px;
  max-width: 900px;
}
/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}
