@import url('https://fonts.googleapis.com/css?family=Roboto');


/*border for clarity during development; comment out when done!*/
/*div {
      border: 1px;
      border-color: red;
      border-style: dashed;
    }*/


h1, h3 {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.jumbotron {
    position: static;
    /*background-image: url('../img/bg1.jpg');*/
    max-width: 1200px;
    margin:auto;
    height: 840px;
    background-size: cover;
    overflow: hidden;
    color: white;
    /*margin-bottom: 0px;
    margin-top: 40px;*/
    z-index: -100;
}

/*video bg properties*/
#bg-video {
    top: 0px;
    left: 0px;
    /*position: absolute;*/
    position: static;
    height: 100%;
    width: 100%;
    z-index: -100;

}
.jumbovidtext {
    z-index: 1;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    opacity: .4;
    margin-left: 50px;
    margin-top: 100px;
    padding: 40px;
    font-size: 11px !important;
    letter-spacing: 4px;
}

/*classes in the photo page*/
.photo-left {
  text-align: right;
  margin-top: 64px;
}

.photo{
  max-width: 880px;
  max-height: 600px;
  margin-top: 80px;
  overflow: hidden;

}

/*carousel styles*/
.carousel-inner{
  max-width: 862px;
  margin-bottom: 0px;
  margin-top: 60px;
}



/*.photo {
  margin-top: 40px;
  background-color: #fff;
}*/

/*classes in the webdev section*/
.webdev-left {
  text-align: right;
  margin-top: 10px;

}

.webdevcaptions {
  margin-left: 35px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.webdevphoto{
  max-width: 917px;
  margin-top: 0px;

}

 /*this container will affect ALL pages!*/
.container-fluid {
  background-color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}



.container {
  max-width: 1200px;

  margin-top: 50px;
  margin: auto;


}



.thumb {
  max-width: 100px;
}

.footer {
  background-color: rgba(51,51,51,1);
  color: rgba(255,255,255,.8);
  width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px;
}
.footer-index {
  margin-bottom: 0;
  background-color: #29292c;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity:0.4;
  width: 1200px;
  margin: auto;
  margin-top: 642px;
  padding: 10px;

}


/*navbar styles below*/
/* Add a dark background color with a little bit see-through */



.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.8;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 20px;
    z-index: 200;

}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #aaa !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;

}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: #d5d5d5 !important;
    opacity: .8;

}

#indexnav{
  margin-top: 600px;
  opacity: .5;
}

#webnav{
  position: static;
}

#webdevright {
  z-index: -200;
  max-width: 100%;
}

.index {
  margin-top: 25px;
}

#aboutheader {
  text-align: right;
  margin-bottom: 30px;


}

#aboutme{
  margin-top: 60px;
  width: 120%;
  padding: 0px;
  height: 800px;
}

#wide300{
  width: 300px;
  
}
.about-left {
  text-align: right;
  margin-top: 0px;
  /*border: 0px;
  padding: 10px;
  background-color: #000;
  opacity: .9;
  color: #fff;
  overflow: hidden;*/
}
